---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/AirQuality?app_id=TFL_APP_ID&app_key=TFL_APP_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - AirQuality
      X-Backend:
      - api
      X-Banning:
      - ''
      X-Ttl:
      - '3600.000'
      X-Ttl-Rule:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"$id":"1","$type":"Tfl.Api.Presentation.Entities.LondonAirForecast,
        Tfl.Api.Presentation.Entities","updatePeriod":"hourly","updateFrequency":"1","forecastURL":"http://londonair.org.uk/forecast","disclaimerText":"This
        forecast is intended to provide information on expected pollution levels in
        areas of significant public exposure. It may not apply in very specific locations
        close to unusually strong or short-lived local sources of pollution.","currentForecast":[{"$id":"2","$type":"Tfl.Api.Presentation.Entities.CurrentForecast,
        Tfl.Api.Presentation.Entities","forecastType":"Current","forecastID":"12120","forecastBand":"Low","forecastSummary":"Low
        air pollution forecast valid from Thursday 16 February to end of Thursday
        16 February GMT","nO2Band":"Low","o3Band":"Low","pM10Band":"Low","pM25Band":"Low","sO2Band":"Low","forecastText":"Mild
        conditions are expected on Thursday as air from the Atlantic passes across
        south-east England. &lt;br/&gt;&lt;br/&gt;With light winds during the early
        morning and evening, some fog formation is forecast by the Met Office. If
        this does occur, it might result in &#39;Moderate&#39; levels of nitrogen
        dioxide at a few heavily congested roadside locations due to poor dispersion
        of vehicle emissions.&lt;br/&gt;&lt;br/&gt;A gentle south-westerly bre[...]
