---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/BikePoint?app_id=aa3294d0&app_key=7ff1b0fc5e726eae73abf63fa85a59dd&neLat=51.5138453&neLon=-0.0983506&swLat=51.5007292&swLon=-0.1246254
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Entity-Payload:
      - Place
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - api
      X-Backend-Url:
      - "/BikePoint?swLat=51.500&swLon=-0.124&neLat=51.513&neLon=-0.098"
      X-Banning:
      - ''
      X-Hash-Url:
      - "/bikepoint?nelat=51.513&nelon=-0.098&swlat=51.500&swlon=-0.124"
      X-Ttl:
      - '300.000'
      X-Ttl-Rule:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Place, Tfl.Api.Presentation.Entities","id":"BikePoints_48","url":"https://api-prod6.tfl.gov.uk/Place/BikePoints_48","commonName":"Godliman
        Street, St. Paul''s","placeType":"BikePoint","additionalProperties":[{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Description","key":"TerminalName","sourceSystemKey":"BikePoints","value":"000971","modified":"2015-08-01T16:42:47.26"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Description","key":"Installed","sourceSystemKey":"BikePoints","value":"true","modified":"2015-08-01T16:42:47.26"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Description","key":"Locked","sourceSystemKey":"BikePoints","value":"false","modified":"2015-08-01T16:42:47.26"},{"$type":"Tfl.Api.Pres[...]
