---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/BikePoint?app_id=aa3294d0&app_key=7ff1b0fc5e726eae73abf63fa85a59dd&lat=51.5007292&lon=-0.1246254&radius=500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Entity-Payload:
      - Place
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - api
      X-Backend-Url:
      - "/BikePoint?lat=51.500&lon=-0.124&radius=500"
      X-Banning:
      - ''
      X-Hash-Url:
      - "/bikepoint?lat=51.500&lon=-0.124&radius=500"
      X-Ttl:
      - '300.000'
      X-Ttl-Rule:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"$type":"Tfl.Api.Presentation.Entities.PlacesResponse, Tfl.Api.Presentation.Entities","centrePoint":[51.5,-0.124],"places":[{"$type":"Tfl.Api.Presentation.Entities.Place,
        Tfl.Api.Presentation.Entities","id":"BikePoints_583","url":"https://api-prod6.tfl.gov.uk/Place/BikePoints_583","commonName":"Abingdon
        Green, Westminster","distance":298.02591243579081,"placeType":"BikePoint","additionalProperties":[{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Description","key":"TerminalName","sourceSystemKey":"BikePoints","value":"200231","modified":"2015-08-01T16:37:46.567"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Description","key":"Installed","sourceSystemKey":"BikePoints","value":"true","modified":"2015-08-01T16:37:46.567"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Description","key":"Locked","sourceSystemKey":"BikePoints","value":"false","modified":"2015-08-01T16:37:46.567"},{"$type":"Tfl.Api.P[...]
