---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/BikePoint?app_id=TFL_APP_ID&app_key=TFL_APP_KEY&neLat=51.5138453&neLon=-0.0983506&swLat=51.5007292&swLon=-0.1246254
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - Place
      X-Backend:
      - api
      X-Banning:
      - ''
      X-Ttl:
      - '300.000'
      X-Ttl-Rule:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Place, Tfl.Api.Presentation.Entities","id":"BikePoints_815","url":"https://api-radon.tfl.gov.uk/Place/BikePoints_815","commonName":"Lambeth
        Palace Road, Waterloo","placeType":"BikePoint","additionalProperties":[{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Description","key":"TerminalName","sourceSystemKey":"BikePoints","value":"300231","modified":"2017-02-16T19:49:02.673Z"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Description","key":"Installed","sourceSystemKey":"BikePoints","value":"true","modified":"2017-02-16T19:49:02.673Z"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Description","key":"Locked","sourceSystemKey":"BikePoints","value":"false","modified":"2017-02-16T19:49:02.673Z"},{"$type":"Tfl.Ap[...]
