---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/StopPoint/940GZZLUTCR/Route?app_id=TFL_APP_ID&app_key=TFL_APP_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - StopPointRouteSection
      X-Backend:
      - api
      X-Banning:
      - ''
      X-Ttl:
      - '86400.000'
      X-Ttl-Rule:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"$type":"Tfl.Api.Presentation.Entities.StopPointRouteSection, Tfl.Api.Presentation.Entities","naptanId":"940GZZLUTCR","lineId":"central","mode":"tube","validFrom":"2017-04-26T00:00:00","validTo":"2017-12-31T00:00:00","direction":"inbound","routeSectionName":"Epping
        Underground Station - West Ruislip Underground Station","lineString":"[[[0.113767,51.69368],[0.103085,51.671759],[0.083782,51.645386],[0.055476,51.641443],[0.046757,51.626605],[0.03397,51.606899],[0.027338,51.591907],[0.02144,51.580678],[0.008194,51.568324],[-0.005523,51.556589],[-0.003458,51.541806],[-0.03364,51.525122],[-0.055506,51.527222],[-0.083182,51.517372],[-0.087792,51.51225],[-0.097567,51.514936],[-0.111583,51.518247],[-0.120475,51.51758],[-0.13041,51.516426],[-0.141903,51.515224],[-0.149723,51.514304],[-0.158953,51.513424],[-0.175494,51.511723],[-0.187152,51.510312],[-0.196104,51.509128],[-0.205679,51.507143],[-0.218813,51.504376],[-0.224297,51.511959],[-0.247248,51.516612],[-0.259755,51.523524],[-0.292704,51.530177],[-0.323446,51.536717],[-0.34605,51.542424],[-0.368699,51.548236],[-0.398915,51.556853],[-0.41071,51.560736],[-0.437886,51.569688]]]","isActive":true,"serviceType":"Regular","destinationName":"West
        Ruislip Underground Station"},{"$type":"Tfl.Api.Presentation.Entities.StopPointRouteSection,
        Tfl.Api.Presentation.Entities","naptanId":"940GZZLUTCR","lineId":"central","mode":"tube","validFrom":"2017-04-26T00:00:00","validTo":"2017-12-31T00:00:00","direction":"inbound","routeSectionName":"Hainault
        Underground Station - West Ruislip Underground Station","lineString":"[[[0.093482,51.603659],[0.091004,51.595618],[0.088585,51.585689],[0.090004,51.575726],[0.066185,51.57[...]
