---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/StopPoint/940GZZLUTCR/Arrivals?app_id=TFL_APP_ID&app_key=TFL_APP_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - Prediction
      X-Backend:
      - api
      X-Banning:
      - ''
      X-Ttl:
      - '10.000'
      X-Ttl-Rule:
      - '765'
    body:
      encoding: ASCII-8BIT
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities","id":"-5476062","operationType":1,"vehicleId":"001","naptanId":"940GZZLUTCR","stationName":"Tottenham
        Court Road Underground Station","lineId":"central","lineName":"Central","platformName":"Westbound
        - Platform 1","direction":"inbound","bearing":"","destinationNaptanId":"940GZZLUWRP","destinationName":"West
        Ruislip Underground Station","timestamp":"2017-05-03T09:13:47Z","timeToStation":93,"currentLocation":"At
        Holborn","towards":"West Ruislip","expectedArrival":"2017-05-03T09:15:20Z","timeToLive":"2017-05-03T09:15:20Z","modeName":"tube","timing":{"$type":"Tfl.Api.Presentation.Entities.PredictionTiming,
        Tfl.Api.Presentation.Entities","countdownServerAdjustment":"00:00:00","source":"0001-01-01T00:00:00","insert":"0001-01-01T00:00:00","read":"2017-05-03T09:13:32.932Z","sent":"2017-05-03T09:13:47Z","received":"0001-01-01T00:00:00"}},{"$type":"Tfl.Api.Presentation.Entities.Prediction,
        Tfl.Api.Presentation.Entities","id":"1523907207","operationType":1,"vehicleId":"002","naptanId":"940GZZLUTCR","stationName":"Tottenham
        Court Road Underground Station","lineId":"central","lineName":"Central","platformName":"Westbound
        - Platform 1","direction":"inbound","bearing":"","destinationNaptanId":"940GZZLUWRP","destinationName":"West
        Ruislip Underground Station","timestamp":"2017-05-[...]
